.DS_Store
*.DS_Store
.classpath
.externalToolBuilders/
.project
.settings/
.springBeans
target/
Thumbs.db
Thumbs.db\:encryptable
RUNNING_PID
db
*.db
*.bak
.svn
*.iml
.idea/
*.log
out/
build/
.gradle/
**/bower_components/